/* - - - - - - CSS Document - - - - - - - - -

Title : Main style sheet for client-side web development
Author : Kianosh Pourian 

- - - - - - - - - - - - - - - - - - - - - */

/* ----- global default/initial styles ----- */
body {background-color:#FFFFFF; padding:5px;line-height:1.4em;margin: 5px;color:#000000;}

html, body {height:100%;}

/* ----- base default font size, type, and line height ----- */
html body{font: 62.5%/1.4em Arial, Helvetica, sans-serif;}

/* ----- add selectors here for font sizing ----- */
p, input, label{font-size: 1.2em;}

label, span#counter{color:#000000}

label { width: 125px;  display: inline-block;}

fieldset {width:75%}

legend {font-size:1.5em; font-weight:bold;color:#000000}

/* ------ hidden div and display of error to user ------ */
/*.toggler { width: 200px; height: 100px; }*/
.errMsg { width: auto; height: 10px; padding: 1.4em; position: relative;
					margin: 3px; padding: 0 .7em; text-align: center;display:none;}


/* ----- base links ----- */

p {line-height:1.4em;margin:10px 0;height:auto}
hr{margin:10px 0;color:#999999;}

iframe{width:500px; height:500px; border:none;}

#required {color:#CC0000; font-weight:bold;}

#overlay { 
    background-image:url(http://static.flowplayer.org/img/overlay/transparent.png); 
    color:#efefef; 
    height:450px; 
} 
 
/* container for external content. uses vertical scrollbar, if needed */ 
div.contentWrap { 
    height:441px; 
    overflow-y:auto;
    display:none; 
} 

/* new CSS Document for all browsers */
/* Popup Overlays 
   .css related entries start here 
   New entries for larger images Q2 relaease
*/
    
#backgroundPopup{ 
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6 */
	height: auto;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
	border: 0px solid #cecece;
	z-index: 9995;
	
}  
#popupContact{  
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6 */
	z-index: 9999;
	padding: 12px;
	font-size: 13px;
}
div#contactArea { 	/* Container for Content Area - has left and right border */
	clear: both;
	margin: 0px;
	padding: 16px 16px 1px;
	border-right: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	background-color: #ffffff;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Rounded Corners */

#tl, #tr, #bl, #br { 
	background-color: transparent;
	background-repeat: no-repeat;
}

#tl, #bl { 
	margin-right: 18px; /* to make room for right corner */
	position: relative;
}
#tr, #br { 
	position: absolute;
	width: 18px;
	right: -18px;
}

#tl, #tr { height: 29px; }
#bl, #br { height: 15px; }

#tl { background-image: url(/images/store/corner_topleft.gif); }
#tr { background-image: url(/images/store/corner_topright.gif); }
#bl { 
	background-image: url(/images/store/corner_bottomleft.gif);
	clear: both;
	margin-left: 0px; 
}
#br { background-image: url(/images/store/corner_bottomright.gif);
    

}

/* Close Button */

a#popupContactClose{  
	display: block;
	background-image: url(/images/store/closeX.gif);
	background-position: right;
	background-repeat: no-repeat;
	width: 50px;
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	right: 0px;  
	top: 8px;  
	position: absolute;  
	color: #444;
	cursor: pointer;
}
a#popupContactClose:hover { 
	text-decoration: underline;
}
a#popupContactClose img { 
	margin-top: -2px;
	margin-left: 0.5em;
	vertical-align: middle;
}


/* Content Area */

div#contactArea p#enlargedTitle { 
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	margin: 0px auto 30px;
}

div#contactArea h1{  
	text-align: left;  
	color: #000000;  
	font-size: 10px;  
	font-weight: 700;  
	border-bottom: 1px dotted #D3D3D3;  
	padding-bottom: 2px;  
	margin-bottom: 20px;  
}

#button{  
	text-align: center;  
	margin: 100px;  
}
.inset
{
	padding-left: 50px;
}  