/* - - - - - - CSS Document - - - - - - - - -

Title : Main style sheet for client-side web development
Author : Kianosh Pourian 

- - - - - - - - - - - - - - - - - - - - - */

/* ----- global default/initial styles ----- */
body {background-color:#FFFFFF; padding:5px;line-height:1.4em;margin: 5px;color:#000000;}

html, body {height:100%;}

/* ----- base default font size, type, and line height ----- */
html body{font: 62.5%/1.4em Arial, Helvetica, sans-serif;}

/* ----- add selectors here for font sizing ----- */
p, input, label{font-size: 1.2em;}

label, span#counter{color:#000000}

label { width: 125px;  display: inline-block;}

fieldset {width:75%}

legend {font-size:1.5em; font-weight:bold;color:#000000}

/* ------ hidden div and display of error to user ------ */
/*.toggler { width: 200px; height: 100px; }*/
.errMsg { width: auto; height: 10px; padding: 1.4em; position: relative;
					margin: 3px; padding: 0 .7em; text-align: center;display:none;}


/* ----- base links ----- */

p {line-height:1.4em;margin:10px 0;height:auto}
hr{margin:10px 0;color:#999999;}

iframe{width:500px; height:500px; border:none;}

.required, .error {color:#CC0000; font-weight:bold;}

.error-highlight {
    border-color: #CC0000;
    background-color: #cecece;
}